* {
  background-color: #252526;
  color: whitesmoke;
}

.entete{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 15rem;
  border-radius: 10px;
  border: 2px solid rgb(1, 207, 207);
}

.card img {
  width: 12rem;
  height: auto;
}

.card1 {
  border: 2px solid rgb(1, 207, 207);
  /* border-bottom: 2px solid teal; */
}

.card2 {
  border: 2px solid fuchsia;
}

.card3 {
  border: 2px solid yellow;
}

.card4 {
  border: 2px solid rgb(32, 241, 32);
}

.card5 {
  border: 2px solid red;
}

.card6 {
  border: 2px solid orange;
}

.ombreout {
  padding:5px;
  box-shadow:2px 2px 20px gray;
}

.lign {
  color: whitesmoke;
}

.finPage {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 1rem;
}

.signature {
  display: flex;
  margin: 2rem 10%;
  text-align: right;
}

.signature a {
  text-decoration: none;
}

.year {
  display: flex;
  margin: 2rem 10%;
}