* {
  background-color: #252526;
  color: whitesmoke;
}

            /* Page d'accueil */

.entete{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 15rem;
  border-radius: 10px;
}

.card img {
  width: 12rem;
  height: auto;
}

.card1 {
  border: 2px solid rgb(65, 240, 240);
  /* border-bottom: 2px solid teal; */
}

.card2 {
  border: 2px solid fuchsia;
}

.card3 {
  border: 2px solid yellow;
}

.card4 {
  border: 2px solid rgb(32, 241, 32);
}

.card5 {
  border: 2px solid red;
}

.card6 {
  border: 2px solid orange;
}

.ombreout {
  padding:5px;
  box-shadow:2px 2px 20px gray;
}

.lign {
  color: whitesmoke;
}

.finPage {
  max-height: 10rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 1rem;
}

.signature {
  display: flex;
  margin: 2rem 10%;
  text-align: right;
}

.signature a {
  text-decoration: none;
}

.year {
  display: flex;
  margin: 2rem 10%;
}

      /* Bibliotheques*/

.movie h1 {
  color: rgb(65, 240, 240);
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.filmCard {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(65, 240, 240);
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: #12121a;
  width: 15rem;
}

.afficheModale {
  cursor: pointer;
}

.cardTitle {
  margin-bottom: .5rem;
}

.cardDetail {
  margin: 0.25rem 0;
}

.thumbnail {
  width: auto;
  height: 16rem;
  align-self: center;
}

.supp {
  background-color: rgb(65, 240, 240);
  color: black;
}

.ajoutFilm {
  display: flex;
  justify-content: space-around;
}

   /*  Formulaires   */

.formBtn {
  display: flex;
  justify-content: space-evenly;
}
